.navbar {
    max-width: 1280px;
    margin-bottom: 5px;
}

.nav-link {
    color: blueviolet;
}

.imgLogo {
    width: 55px;
    margin-left: 15px;
    margin-right:15px;
    &:hover{
        transform: scale(1.10);
    }
}

h5 {
    color: antiquewhite;
    padding: 10px;
}