.imgCart {
    max-height: 200px;
}

.divCart {
    margin: 30px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-style: groove;
    border-color: red;
}

.labelClass {
    margin: 15px;
        & label{
            padding: 5px;
        }
}

.totalAndformClass {
    display: flex;
    justify-content: space-evenly;
}

.totalClass {
    padding: 30px;
    & button {
        margin-top: 15px;
        padding: 20px;
    }
}