.backTittle {
    margin: 0;
    padding: 10px;
    background-image: url("https://media.istockphoto.com/id/535447246/es/vector/vector-de-dibujado-a-mano-patr%C3%B3n-de-pastas-ilustraci%C3%B3n-vintage-de-arte.jpg?s=612x612&w=0&k=20&c=Yw7EPdoZxlOxehbPauR-HjEShzkPCNZok6iDKAUBRJQ=");
    background-size: cover;
    background-position: top;
}
